/*Variables*/


.navbar1{
  display: flex;
  align-items: center;
  justify-content:space-between;

  height: 50px;
  background-color: black;

  transition: opacity .35s ease-out;
  -moz-transition: opacity .35s ease-out;
  -webkit-transition: opacity .35s ease-out;
}


.navbar1:hover { /*Overide inline CSS for opacity*/
  opacity:1.0 !important;
  transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -webkit-transition: opacity .35s ease-in-out;
}



/*------------------------------------------------------*/

.navbar1 .logo-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  order:1;

  flex: 1;
}

.logo-container .logo{
  padding:10px;
}

/*------------------------------------------------------*/

.navbar1 .search-container{
  display: flex;
  height: 100%;
  align-items: center;
  order:2;
}

/*------------------------------------------------------*/

.navbar1 .right-nav-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  order:3;

  flex: 1;


}

.right-nav-container .right-nav{
  display: flex;
  flex-direction:row;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 14px;

}

.right-nav h4{
  color: white;
  font-size: 15px;
}

.right-nav .no-line{
  text-decoration: none;
}

.right-nav .sign-up{
  display: block;
  max-width: 100%;
  max-height: 40px;
  width: auto;
  height: auto;
  padding:5px;
}

.right-nav .nav-div{
  margin:3px;  /* and that, will result in a 10px gap */
  height: 100%;
}

.right-nav .min-div{
  min-width: 60px;
  height: 100%;
}

.right-nav .bullet {
  color: white;
}

.right-nav .svg{
  display: flex;
  align-items: center;
  max-width: 100%;
  padding:5px;
  height: 40px;
}
